<!DOCTYPE html>
<html>
<style>
    body{
        text-align:center;
        color:darkblue;
    }
    h2 { color:coral }
    pre { border: grey inset; background-color: lightgrey;}
    .box {
        text-align: left;
        display:inline-block;
        width: 26em;
        vertical-align:top
    }
    .row {
    }
</style>
<head>
    {% block head %}
        <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>

        <link rel="apple-touch-icon" sizes="60x60" href="{{ _config.cdn }}/icon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ _config.cdn }}/icon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ _config.cdn }}/icon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ _config.cdn }}/icon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ _config.cdn }}/icon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ _config.cdn }}/icon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ _config.cdn }}/icon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ _config.cdn }}/icon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{{ _config.cdn }}/icon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ _config.cdn }}/icon/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="{{ _config.cdn }}/icon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ _config.cdn }}/icon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ _config.cdn }}/icon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="{{ _config.cdn }}/icon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ _config.cdn }}/icon/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body
><div id="{{ page_id is defined ? page_id : '' }}" class="page-content">
{% block content %}{% endblock %}
</div
></body>
</html>